html, body {
    position: relative;
    height: 100%;
}
body {
    background: #eee;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    margin: 0;
    padding: 0;
}
.swiper-container {
    width: 100%;
    height: 100%;
}
.swiper-slide{
    position: relative;
    opacity:0.9;
    /*background-image:url("img/main_bg.png");*/
    background-size:100% 100%;
}

/*音乐部分开始*/
#music{
    width: 60px;
    height: 60px;
    position: fixed;
    right: 10px;
    top: 10px;
    z-index: 9;
}
#music .musictu{
    position: absolute;
    top: 8px;
    right: 8px;
    animation: run  linear infinite 1s;
}
.musicimg{
    position: fixed;
    right: 8px;
    top: 8px;
    z-index: 999;
    width: 60px;
    height: 60px;
}
.musictu{
    right: 9px;
    top: 8px;
    position: absolute;

}
@keyframes run {
    0%{
        transform: rotate(0deg);

    }
    100%{
        transform: rotate(360deg);
    }
}
.first_all{
    width:100%;
    height:100%;
    position: relative;
    background:url("img/first_bg.jpg")no-repeat;
}
.first_in_top{
    width:34%;
    height:22%;
    display:block;
    position: absolute;
    left:35%;
    top:1%;
}
.first_in_top img{
    width:100%;
    height:100%;
}
.first_on_top{
    width:80%;
    height:22%;
    position: absolute;
    left:14%;
    top:2%;
}
.first_on_top img{
    width:100%;
    height:100%;
}
.first_title {
    width: 100%;
    height: 7%;
    text-align: center;
    font-size: 5.7vw;
    line-height: 1.2em;
    position: absolute;
    top: 30%;
    color: rgb(103, 103, 103);
}
.first_text{
    width:90%;
    height:18%;
    position: absolute;
    top:36%;
    left:5%;
    text-align: left;
    font-size: 4.2vw;
    line-height: 1.4em;
    color: inherit;
}
.first_bottom_left{
    width:40%;
    height:37%;
    display:block;
    position: absolute;
    left:7%;
    top:58%;
}
.first_bottom_left img{
    width:100%;
    height:100%;
}
.first_bottom_right{
    width:47%;
    height:43%;
    display:block;
    position: absolute;
    left:52%;
    top:52%;
}
.first_bottom_right img{
    width:100%;
    height:100%;
}
.second_in_bottom,.six_xian{
    width:58%;
    height:35%;
    position: absolute;
    left:22%;
    display:block;
    overflow: hidden;
}
.second_in_bottom img,.six_xian img{
    width:100%;
    height:100%;
}
.second_in_left,.six_qing{
    width:36%;
    height:25%;
    top:7%;
    left:16%;
    position: absolute;
    display:block;
}
.second_in_left img,.six_qing img{
    width:100%;
    height:100%;
}
.second_circle,.six_circle{
    width:49%;
    height:30%;
    position: absolute;
    top:3%;
    left:28%;
}
.second_circle img,.six_circle img{
    width:100%;
    height:100%;
}
.second_bu,.six_bu{
    width:10%;
    height:20%;
    position: absolute;
    top:7%;
    left:53%;
    display:block;
}
.second_bu img,.six_bu img{
    width:100%;
    height:100%;
}
.second_middle{
    width:100%;
    height:10%;
    text-align:center;
    position: absolute;
    top:35%;
    font-size: 4.8vw;
    color: rgb(103, 103, 103);
}
.second_middle_img{
    width:90%;
    height:35%;
    position: absolute;
    left:5%;
    top:40%;
    display:block;
}
.second_middle_img img{
    width:100%;
    height:100%;
}
.second_bottom{
    width:90%;
    height:18%;
    position: absolute;
    top:77%;
    left:5%;
    text-align: left;
    font-size: 4.2vw;
    line-height: 1.7em;
    color: rgb(103, 103, 103);
}
@font-face {
    font-family: lsq;
    src: url("fonts/TTQianNvF.ttf");
}
.three_top_in{
    width:31%;
    height:20%;
    position: absolute;
    left:5%;
    top:2%;
    display:block;
}
.three_top_in img{
    width:100%;
    height:100%;
}
.three_top_left{
     width:20%;
     height:13%;
    position: absolute;
    top:6%;
    left:2%;
    display:block;
 }
.three_top_left img{
      width:100%;
      height:100%;
}
.three_top_circle{
    width:23%;
    height:14%;
    position: absolute;
    top:5%;
    left:11%;
    display:block;
}
.three_top_circle img{
    width:100%;
    height:100%;
}
.three_top_bu{
    width:6%;
    height:10%;
    position: absolute;
    top:7%;
    left:24%;
    display:block;
}
.three_top_bu img{
    width:100%;
    height:100%;
}
.three_top_right{
    width:50%;
    height:20%;
    position: absolute;
    top:3%;
    left:42%;
    font-size:4.2vw;
    line-height: 1.5em;
    color: rgb(103, 103, 103);
}
.three_middle_left{
    width:40%;
    height:25%;
    position: absolute;
    display:block;
    top:26%;
    left:8%;
}
.three_middle_left img{
    width:100%;
    height:100%;
}
.three_middle_right{
     width:40%;
     height:25%;
    position: absolute;
    left:50%;
    top:26%;
    display:block;
}
.three_middle_right img{
     width:100%;
    height:100%;
}
.three_bottom{
    width:84%;
    height:45%;
    position: absolute;
    top:52%;
    left:8%;
    display:block;
}
.three_bottom img{
    width:100%;
    height:100%;
}
.four_top{
    width:90%;
    height:20%;
    top:3%;
    left:5%;
    position: absolute;
    font-size: 4.2vw;
    color: rgb(103, 103, 103);
}
.four_middle{
    width:90%;
    height:31%;
    position: absolute;
    display:block;
    top:23%;
    left:5%;
    background:pink;
}
.four_middle img{
    width:100%;
    height:100%;
}
.four_bottom_left{
    width:45%;
    height:39%;
    position: absolute;
    top:56%;
    left:5%;
    display:block;
}
.four_bottom_left img{
    width:100%;
    height:100%;
}
.four_bottom_right_top{
    width:44%;
    height:20%;
    position: absolute;
    display:block;
    top:56%;
    left:51%;
}
.four_bottom_right_top img{
    width:100%;
    height:100%;
}
.four_xian{
    width:33%;
    height:19%;
    position: absolute;
    display:block;
    top:77%;
    left:63%;
}
.four_xian img{
    width:100%;
    height:100%;
}
.four_qing{
    width:20%;
    height:13%;
    position: absolute;
    display:block;
    top:80%;
    left:59%;
}
.four_qing img{
    width:100%;
    height:100%;
}
.four_circle{
    width:26%;
    height:16%;
    position: absolute;
    display:block;
    top:79%;
    left:66%;
}
.four_circle img{
    width:100%;
    height:100%;
}
.four_bu{
    width:6%;
    height:10%;
    position: absolute;
    display:block;
    top:82%;
    left:80%;
}
.four_bu img{
    width:100%;
    height:100%;
}
.five_top_left{
    width:47%;
    height:45%;
    position: absolute;
    display:block;
    top:2%;
    left:5%;
}
.five_top_left img{
    width:100%;
    height:100%;
}
.five_xian{
    width:32%;
    height:19%;
    position: absolute;
    display:block;
    top:3%;
    left:68%;
}
.five_xian img{
    width:100%;
    height:100%;
}
.five_qing{
    width:23%;
    height:12%;
    position: absolute;
    display:block;
    top:8%;
    left:62%;
}
.five_qing img{
    width:100%;
    height:100%;
}
.five_circle{
    width:25%;
    height:15%;
    position: absolute;
    display:block;
    top:6%;
    left:72%;
}
.five_circle img{
    width:100%;
    height:100%;
}
.five_bu{
    width:6%;
    height:10%;
    position: absolute;
    display:block;
    top:9%;
    left:85%;
}
.five_bu img{
    width:100%;
    height:100%;
}
.five_top_right{
    width:45%;
    height:20%;
    position: absolute;
    display:block;
    top:25%;
    left:53%;
}
.five_top_right img{
    width:100%;
    height:100%;
}
.five_middle_text{
    width:90%;
    height:17%;
    position: absolute;
    top:49%;
    text-align: left;
    left:5%;
    font-size: 4.2vw;
    color: rgb(103, 103, 103);
}
.five_bottom_left{
    width:45%;
    height:40%;
    left:5%;
    top:57%;
    position: absolute;
    display:block;
}
.five_bottom_left img{
    width:100%;
    height:100%;
}
.five_bottom_right{
    width:45%;
    height:40%;
    position: absolute;
    display:block;
    top:57%;
    left:52%;
}
.five_bottom_right img{
    width:100%;
    height:100%;
}
.five_title{
    width:90%;
    height:15%;
    font-size: 4.9vw;
    position: absolute;
    top:37%;
    text-align: center;
    left:5%;
    color: rgb(103, 103, 103);
}
.five_text{
    width:90%;
    height:25%;
    position: absolute;
    text-align: left;
    top:43%;
    left:5%;
    font-size: 4.2vw;
    line-height: 1.7em;
}
.five_bottom{
    width:100%;
    height:40%;
    position: absolute;
    top:60%;
    display:block;
}
.five_bottom img{
    width:100%;
    height:100%;
}
.swiper-button-next{
    position: absolute;
    top:auto;
    bottom:6%;
    left:50%;
    font-weight: bold;
    transform: rotate(-90deg);
    margin-left: -13.5px;
    animation:a 2s linear infinite;
}
@keyframes a {
    from{
        opacity:1;
        transform: translate(0,0) rotate(-90deg);
    }
    to{
        opacity:0.1;
        transform: translate(0,-20px) rotate(-90deg);
    }
}